.footer-container{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 250px;
}

.footer-container .col1, .footer-container .col3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18%;
}

.social-media{
    margin-top: 27%;
    display: flex;
    flex-direction: row;
}

.social-media li{
    padding-right: 10px;
}

.footer-container .col2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-container .col2 li{
    margin-top: 20px;
    text-transform: uppercase;
}

.footer-container p{
    margin-top: 27%;
    margin-right: 20%;
}

.footer-container a{
    color: white;
}

.footer-container a:hover{
    color: lightgray;
}
