.footer-container{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 250px;
}

.footer-container .footer-icons-container, .footer-container .section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18%;
}

.social-media{
    margin-top: 27%;
    display: flex;
    flex-direction: row;
}

.social-media li{
    padding-right: 10px;
    cursor: pointer;
}

.social-media img{
    filter:grayscale(100%);
}

.social-media img:hover{
    filter:grayscale(0%);
}

.footer-container .footer-links-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-container .footer-links-container li{
    margin-top: 20px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footer-container p{
    margin-top: 27%;
    margin-right: 20%;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.footer-container a{
    color: white;
}

.footer-container a:hover{
    color: lightgray;
}

.footer-container  .icon{
    filter: invert(100%);
}

.footer-container .section3 a{
    height: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 2px;
}

.footer-container .section3 a:hover{
    text-decoration: underline;
}