*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans';
}


h1{
    text-transform: uppercase;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 4.16667px;
}

h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

h4{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}

hr{
    color: white;
    margin-top: 15px;
    width: 70%;
    height: 1px;
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-bottom: 15px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.info-section-container .row1-container{
    display: grid;
    grid-template-columns: 2fr  minmax(75px, 3fr);
}

.info-section-container .row1-container .info-black{
    background-color: black;
    color: white;
}

.info-section-container .row2-container{
    display: grid;
    grid-template-columns: minmax(75px, 3fr) 2fr;
}

.info-section-container .row3-container{
    display: grid;
    grid-template-columns: 2fr  minmax(75px, 3fr);
}

.info-section-container .info-container{
    display: flex;
    flex-direction: column;
    place-content: center;
    padding: 0 8.5em 0 4em;
}

.info-section-container p{
    margin-top: 20px;
    margin-bottom: 35px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.info-section-container a{
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}

.info-section-container a img{
    margin-left: 10px;
}

.info-section-container a:hover{
    text-decoration: underline;
}

.info-stories-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 450px;
}

.info-stories-container .col1-container{
    background-image: url('../assets/stories/desktop/mountains.jpg');
}

.info-stories-container .col2-container{
    background-image: url('../assets/stories/desktop/cityscapes.jpg');
}

.info-stories-container .col3-container{
    background-image: url('../assets/stories/desktop/18-days-voyage.jpg');
}

.info-stories-container .col4-container{
    background-image: url('../assets/stories/desktop/architecturals.jpg');
}

.info-stories-container .info-stories{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color: white;
    padding: 0 0 2em 2em;
}

.info-stories-container .info-stories .text-story-container{
    width: 100%;
}


.info-stories-container a{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: white;
}

.info-stories-container a img{
    margin-left: 30%;
}

.icon-arrow-white{
    filter: invert(100%);
}

.characteristics-info-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 500px;
}

.characteristics-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characteristics-container .icon-container{
    height: 70px;
}

.characteristics-container .img-no-limit{
    margin-top: 25px;
}

.characteristics-container h3{
    margin-top: 40px;
}

.characteristics-container p{
    margin-top: 1em;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.6;
}



@media (max-width: 887px){
    .info-section-container{
        display: grid;
        grid-template-rows: repeat(3, 700px);
    }
    .info-section-container .row1-container{
        grid-template-columns: 3fr 2fr;
    } 
    .info-section-container .info-container{
        padding: 0 2em 0 2em;
    }
}

