*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans';
}

h1{
    text-transform: uppercase;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.16667px;
}

h3{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
}

h4{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
}

hr{
    color: white;
    margin-top: 15px;
    width: 280px;
    height: 1px;
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-bottom: 15px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-rows: repeat(5, 0.6fr);
}

.row1{
    display: grid;
    grid-template-columns: 2fr  minmax(75px, 3fr);
}

.row1 .col1{
    background-color: black;
    color: white;
}

.row1 .col1, .row2 .col2, .row3 .col1{
    display: flex;
    flex-direction: column;
    place-content: center;
    padding: 0 8.5em 0 4em;
}


.row1 p, .row2 p, .row3 p{
    margin-top: 20px;
    margin-bottom: 35px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.row2{
    display: grid;
    grid-template-columns: minmax(75px, 3fr) 2fr;
}

.row3{
    display: grid;
    grid-template-columns: 2fr  minmax(75px, 3fr);
}

.row4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.row4 .col1{
    background-image: url('../assets/stories/desktop/mountains.jpg');
}

.row4 .col2 {
    background-image: url('../assets/stories/desktop/cityscapes.jpg');
}

.row4 .col3{
    background-image: url('../assets/stories/desktop/18-days-voyage.jpg');
}

.row4 .col4{
    background-image: url('../assets/stories/desktop/architecturals.jpg');
}

.row4 .main-stories-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    color: white;
    padding: 0 0 2em 2em;
}

.row4 a{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.row5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.row5 .col1, .row5 .col2, .row5 .col3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row5 .icon-container{
    height: 70px;
}

.row5 .col2 img{
    margin-top: 25px;
}

.row5 h3{
    margin-top: 40px;
}

.row5 p{
    margin-top: 1em;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    mix-blend-mode: normal;
    opacity: 0.6;
}



@media screen and (max-width: 768px){

}

