*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body{
    font-size: 15px;
}

.container{
    display: grid;
    grid-template-rows: repeat(5, 0.6fr);
}

.row1{
    display: grid;
    grid-template-columns: 2fr  minmax(75px, 3fr);
}

.row1 .col1{
    background-color: black;
    color: white;
}

.row1 .col1, .row2 .col2, .row3 .col1{
    display: flex;
    flex-direction: column;
    place-content: center;
}

.row1 a, .row2 a, .row3 a{
    margin-top: 20px;
    margin-left: 5.5em;
}

.row1 p, .row2 p, .row3 p{
    margin-top: 20px;
    margin-left: 5.5em;
    margin-right: 10em;
}

.row2{
    display: grid;
    grid-template-columns: minmax(75px, 3fr) 2fr;
}

.row3{
    display: grid;
    grid-template-columns: 2fr  minmax(75px, 3fr);
}

.row4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.row4 .col1{
    background: url('../assets/stories/desktop/mountains.jpg');
    background-size: cover;
}

.row4 .col2 {
    background: url('../assets/stories/desktop/cityscapes.jpg');
    background-size: cover;
}

.row4 .col3{
    background: url('../assets/stories/desktop/18-days-voyage.jpg');
    background-size: cover;
}

.row4 .col4{
    background: url('../assets/stories/desktop/architecturals.jpg');
    background-size: cover;
}

.row4, .row4 a {
    color: white;
}

.text{
    margin-left: 2em;
}

.row5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.row5 .col1, .row5 .col2, .row5 .col3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row5 .col2 img{
    margin-top: 25px;
}

.row5 h3{
    margin-top: 40px;
}

.row5 p{
    margin-top: 1em;
    text-align: center;
}

.icon{
    filter: invert(90%);
}

h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    margin-left: 2em;
}

h3{
    font-weight: bold;
    font-size: 18px;
}

h4{
    font-weight: bold;
    font-size: 12px;
}

hr{
    color: lightgray;
    margin-top: 15px;
    width: 90%;
}

p{
    color: gray;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 768px){

}

