nav {
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav-container ul{
    list-style: none;
    margin-left: 9em;
    /* text-align: center; */
}

.nav-container li{
    display: inline;
    text-align: center;
    margin-right: 2rem;
}

.links{
    text-align: center;
}

button{
    background-color: black;
    color: white;
    height: 35px;
    width: 10%;
    border: none;
    text-transform: uppercase;
}

button:hover{
    background-color: lightgray;
    color: black;
}

.nav-container a:hover{
    color: lightgray;
}