nav {
    margin-top: 1em;
    margin-bottom: 1em;
}
.nav-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.nav-container .logo-img{
    display: flex;
    place-content: center;
    margin-top: 10px;
}

.logo-img img{
    height: 70%;
    width: 40%;
}

.nav-container .list-items{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-container li{
    display: inline;
    text-align: center;
    margin-right: 2rem;
}

.nav-container .button-header-container{
    display: flex;
    justify-content: center;
}

button{
    background-color: black;
    color: white;
    height: 35px;
    width: 30%;
    border: none;
    text-transform: uppercase;
}

button:hover{
    background-color: lightgray;
    color: black;
}

.nav-container a:hover{
    color: lightgray;
}