nav {
    padding: 20px 1em 20px 0;
}
.nav-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
}

.nav-container .logo-img{
    display: flex;
    place-content: center;
}

.nav-container .logo-img img{
    height: 60%;
    width: 40%;
}

.nav-container .list-nav-items-container{
    display: flex;
    justify-content: center;
}

.nav-container .list-nav-items-container li{
    display: inline;
    text-align: center;
    margin-right: 2rem;
}

.nav-container .list-nav-items-container a{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}

.nav-container .button-nav-container{
    display: flex;
    justify-content: center;
}

button{
    background-color: black;
    color: white;
    height: 35px;
    width: 30%;
    border: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
}

button:hover{
    background-color: lightgray;
    color: black;
}

.nav-container a:hover{
    color: lightgray;
}